@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(217,50,50);
  background-color: linear-gradient(0deg, rgba(217,50,50,1) 0%, rgba(164,137,80,1) 50%, rgba(32,103,62,1) 100%);
}

/* NavBar Style  */
  
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
  }

  .nav-container img {
    position: absolute;
    top: 10%;
    left: 0%;
    height: 50px;
    width: 50px;
  }
  

  
  .nav-link:hover {
    color: rgb(20, 97, 168); /* Change the color on hover */
    transform: scale(110%);
  }
  
   
  .toggle-btn {
    padding: 10px 40px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
    color: white;
  }
  
  #btn {
    left: 0;
    top: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: transparent;
    border-radius: 30px;
    transition: .5s;
    color: white;
    border-radius: 30%;
      
  }
  .toggle-btn2 {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
    color:white;
    border-radius: 30%;
  }
  
  .shopping-cart-icon {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
  }
  
  button {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin-right: 2px;
  }